nav {
    background-color: transparent !important;   
    position: fixed; 
    top: 0px;
    z-index: 10;
}

#brandLogo {
    font-weight: bolder;
    color: #ff971d !important;
    margin-left: 6vw;
}

.navItem {
    font-size: 18px !important;
    font-weight: 600;
    text-decoration: none;
    margin: auto 2px;
    color: #ff971d;
}

.navItem:hover{
    text-decoration: none !important;
    color: 'black';
}

.correctRight {
    margin-right: 3vw;
}

.sectionContainer {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;

    background-color: #f9f6f7;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: black;
    padding: 4% 0px;
}

.sectionContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: justify;
    padding: 10px 6%;
}

.sectionContent h3 {
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 200%;
    color: #ff971d;
    text-align: left;
}

.sectionContent p {
    font-family: 'DM Sans', sans-serif;
    margin: 0px;
    margin-top: 1%;
    font-size: 140%;
    font-weight: 600;
}

.sectionImage {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sectionImage img {
    border: none;
    border-radius: 5px;
    margin: auto;
    width: 60%;
}

#landingSection {
    background-color: #ffffff;
}

#landingLogo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#landingLogo h1 {
    margin: auto;
    font-size: 64px;
    font-weight: bolder;
    text-align: center;
}

.landingContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.landingDoer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin-top: -30px;
}

.locationImg {
    height: 2.4em;
    width: auto;
    margin: auto;
}

.landingSubHeading {
    margin: 10px auto;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.landingP p {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.showcaseContainer {
    width: 100vw;
    height: auto;
    scroll-snap-align: start;

    background-color: #ffe8d6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #ff971d;
    text-align: center;
    padding: 4% 100px;
}

.showcaseTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.showcaseTitle h3 {
    padding: 0px 4px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 200%;
    width: max-content;

}

.showcaseBox {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 4%;
}

.showcaseImage {
    text-decoration: none;
    border: none;
    outline: none;
    width: 200px;
    height: 200px;

    background-color: white;
    border-radius: 50%;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    padding: 10px;
}

.showcaseImage:hover {
    box-shadow: 0 4px 50px 0 rgba(255,151,29, 0.2), 0 6px 20px 0 rgba(255,151,29, 0.19);
}

#contactUs {
    height: auto;
    background-color: #ff971d;
    justify-content: flex-start;
}

#contactUs h3 {
    color: black;
    font-weight: bolder;
}

#contactUs p {
    font-weight: 500;
}

#contactUs p a{
    color: black;
    text-decoration: underline;
}

#contactUsSocial {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -15px;
}

#contactUsSocial a {
    margin: auto 10px;
}

@media only screen and (max-width: 600px) {

    #brandLogo {
        font-weight: bolder;
        color: #ff971d !important;
        margin: auto;
        left: auto !important;
        right: 5vw;
        text-align: center;
        transform: none !important;

        position: absolute;
        font-size: 1.6em;
    }

    .sidenav {
        background-color: #ff971d;
        padding-top: 60px;
    }

    .navItem {
        height: 40px !important;
        line-height: 34px !important;
        font-size: 16px !important;
        font-weight: 600;
        text-decoration: none;
        margin: auto 10px;
        color: white !important;
    }

    .sectionContainer {
        flex-direction: column-reverse;
        height: auto;
        padding-bottom: 40px;
    }

    .sectionContent {
        width: 98vw;
        height: max-content;
    }

    .sectionContent h3 {
        font-size: 1.6rem;
    }

    .sectionContent p {
        font-size: 1.1rem;
    }

    .sectionImage {
        width: 100vw;
        padding-top: 40px;
        justify-content: center;
    }

    .sectionImage img {
        width: 80%;
    }

    #landingSection {    
        flex-direction: column;
        height: 100vh;
    }

    #landingLogo {
        width: 98vw;
        margin: auto;
    }

    #landingLogo h1 {
        font-size: 2.8rem;
    }

    .landingContent {
        width: 98vw;
        margin: auto;
        margin-top: 0vh;
    }

    .landingP {
        text-align: center;
        margin-top: 0px;
    }

    .landingSubHeading {
        font-size: 1.2rem;
    }

    .landingP p {
        padding: 0px;
        margin: 0px;
        line-height: 1.4rem;
        font-size: 1rem;
    }

    #Products {
        flex-direction: column;
    }

    .showcaseContainer {
        height: auto;
        padding: 0px;
        text-align: left;
        padding: 40px 0px;
    }

    .showcaseTitle {
        padding: 20px 6%;
    }

    .showcaseTitle h3 {
        font-size: 1.6rem;
        text-align: center;
    }

    .showcaseBox {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .ornamentsBox a {
        align-self: center;
        margin: 20px auto;
    }

    .showcaseImage {
        width: 60%;
        margin: 10px auto;
    }
}