@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


.button {
    text-decoration: none;
    font-weight: 600;
    color: #ff971d;   
    background-color: #ffe8d6;
    border: 2px solid #ff971d;
    padding: 1.4vh 4vh;
    transition: 0.35s;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    align-self: flex-start;
}

.button:hover {
    background-color: #ff971d;
    color: white;
}