.FooterSectionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.FooterWrapperLeft h3 {
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 200%;
    color: #ff971d;
    text-align: left;
}

.FooterWrapperLeftMap {
    height: 300px;
    border-radius: 8px;
}

.FooterWrapperRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
}

.FooterWrapperRight p {
    font-family: 'DM Sans', sans-serif;
    margin: 0px;
    margin-top: 1%;
    margin-bottom: 0px;
    font-size: 100%;
    font-weight: 600;
}

.FooterWrapperRightSocial {
    margin-top: 20px;
}

.FooterWrapperRightSocial a {
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .FooterSectionWrapper {
        flex-direction: column;
    }

    .FooterWrapperLeftMap {
        width: 100%;
    }

    .FooterWrapperLeft h3 {
        font-size: 1.6rem;
    }

    .FooterWrapperRight {
        height: auto;
        margin-top: 20px;
    }

    .FooterWrapperRight p {
        font-size: 1.1rem;
    }
}