.topShopRoller {
    padding: 20px 20px;
    background-color: #ff971d !important;
}
.topShopRollerFixedHeader {
    position: absolute;
    top: 10vh;
    font-size: 64px;
    font-weight: bolder;
}
.topShopRoller img {
    width: 80%;
    height: auto;
    align-self: center;
    border-radius: 8px;
}
.topShopRollerInnerDiv{
    margin-left: 80px;
    align-self: flex-end;
}
.topSutradharHomeLink {
    position: absolute;
    top: 20px;
    left: 40px;
    border: none;
    text-align: center;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

.productDisplayContainer {
    width: 100vw;
    height: auto;

    background-color: #ffe8d6;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff971d;
    text-align: center;
    padding: 4% 100px;
    padding-bottom: 10%;
}

.productDisplayTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

.productDisplayShowcase {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 4%;
    flex-wrap: wrap;
}

.productDisplayShowcase div {
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    .topShopRoller{
        padding: 0px;
        height: 100vh;
        flex-direction: column-reverse;
    }
    .topSutradharHomeLink {
        top: 0px;
        left: 10px;
    }
    .topShopRollerFixedHeader {
        position: relative;
        top: 0px;
        margin: 0px;
        font-size: 48px;
        text-align: left;
    }
    .topShopRollerInnerDiv{
        margin-left: 0px;
    }
    .topShopRollerInnerDiv h3 {
        font-size: 22px;
        text-align: left;
    }
    .topRollerImageWrapper {
        margin-top: 10vh;
    }

    .productDisplayContainer {
        justify-content: center;
        align-content: center;
        color: #ff971d;
        text-align: center;
        padding: 0px;
        padding-bottom: 40px;
    }
    .productDisplayTitle {
        padding-left: 20px;
    }
    .productDisplayTitle h3 {
        text-align: left;
    }
    .productDisplayShowcase {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 1%;
    }
    .showcaseImage {
        width: 200px !important;
    }
}
