@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: none;
  }
}
